body {
}

.bs-example{
    	margin: 20px;
    }
legend.scheduler-border {
            font-size: 1.0em !important;
            font-weight: bold !important;
            text-align: left !important;
            color: forestgreen;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }

.FormatRadioButtonList label {
            margin-right: 25px;
            display: inline;
            font-weight: normal;
        }
.datepicker {
            z-index: 1151 !important;
        }
img {
  border-radius: 50%;
}

